<!DOCTYPE html>
<html lang='ru'>
<head>
    <meta charset='utf-8'>
    <title>{{titleName}} | {{indexTitle}}</title>
    </script>
    <style>
        body {
            background-color: #CDE;
        }
        
        fieldset {
            margin: 0 auto;
            border-radius: 10px 10px 0px 0px;
            background-color: #F5F5F5;
            width: 200px;
            margin-top: 10%;
        }
        
        .logForm {
            border-radius: 5px;
            width: 200px;
        }
        
        .logButt {
            border-radius: 5px;
            background-color: #BFE;
            width: 100px
        }
    </style>
    <script>
        function runReg() {
            return location.href = 'registration';
        }
    </script>
</head>
<body>
    <fieldset>
            <form method="POST" action="auth">
                <input class="logForm" type="text" name="login" placeholder="Логин"> <br /><br />
                <input class="logForm" type="password" name="pass" placeholder="Пароль"><br /><br />
                <input class="logButt" type="submit" value="Войти">
                <input class="logButt" type="button" value="Регистрация" onClick="runReg()">
            </form>
    </fieldset>
</body>
</html>